{% extends "BudCor/layout.html" %}
{% load humanize %}
{% block title %}
Application Server Billing
{% endblock %}
{% block content %}

<div class="col-4 menu">
  <ul>
    <li>
      <form name="BudgetYearForm" method="POST">
        {% csrf_token %}
          <input type="number" size=4 placeholder="Year" name="budgetyear">
          <button type="submit" class="save btn btn-default" formaction="{% url 'summary' %}">Budget Summary</button>
       </form>
    </li>  
    <li>
      <form name="CostCentreForm" method="POST">
        {% csrf_token %}
          <input type="number" size=4 placeholder="Year" name="budgetyear">
          <input type="text" size=12 placeholder="Cost Centre""name="costcentre">
          <button type="submit" class="save btn btn-default" formaction="{% url 'costcentre' %}">Cost Centre</button>
       </form>
    </li>
    
    <li><a href="{% url 'asbindex' %}" class=btn btn-primary btn-sm role=button>Application Server Cost View</a></li>
    <li><a href="{% url 'export_asb' %}" class=btn btn-primary btn-sm role=button>Export Application Server Cost</a></li>
    <li>
      <form name="ApplicationServerForm" method="POST">
        {% csrf_token %}
          <input type="number" size=4 placeholder="Year" name="budgetyear">
          <input type="text" size=20 placeholder="Server Name" name="servername">
          <button type="submit" class="save btn btn-default" formaction="{% url 'appsrvdets' %}">Application Server Details</button>
       </form>
    </li>
  </ul>
</div>
<div class="col-12 menu">
  <ul class=head4>
    <li>
        <h3>Billing per Application Server has been completed for Budget Year: <strong> {{ budgetyear}} </strong> </h3> 
    </li>  
  </ul>        
</div>
{% endblock %}