{% extends "BudCor/layout.html" %}
{% load humanize %}
{% block title %}
Cost Centre Comparison
{% endblock %}
{% block content %}

<div class="row">

<div class="row">
  <div class="col-4 menu">
    <ul>
       <li>Monthly Total Cost for Year</li>
    </ul>
  </div> 
  <div class="col-2 menu">
    <ul>     
       <li>R {{ wasb1_tot|intcomma }}</li>
    </ul>
  </div> 
  <div class="col-2 menu">
    <ul>
       <li>R {{ wasb2_tot|intcomma }}</li>
    </ul>
  </div> 
</div>

  
     <table style="width:100%; table-layout:fixed; border: 1px solid black">
      <colgroup>
        <col span="1" style="width:10%;background-color:antiquewhite; border: 1px solid black;">
        <col span="1" style="width:20%;background-color:chartreuse; border: 1px solid black; ">
      </colgroup>
      <thead>
        <tr>
          <th>Service</th>
          <th>Name</th>
          <th>{{ budgetyear1 }} Cost</th>
          <th>{{ budgetyear2 }} Cost</th>
          <th>Application</th>
          <th>Client</th>
        </tr>
      </thead>
      <tbody>
        {% for row in wasb_rows %}
         <tr>
            {% for item in row %}
              <td>{{ item}} </td> 
            {% endfor %}
         </tr>
        {% endfor %}
      </tbody>
     </table>  
 
<div class="row">
 <div class="col-5 menu">
  <ul>
    <li>
      <form name="ApplicationServerForm" method="POST">
        {% csrf_token %}
          <input type="number" size=4 placeholder="{{ budgetyear }}" name="budgetyear">
          <input type="text" size=20 placeholder="Server Name" name="servername">
          <button type="submit" class="save btn btn-default" formaction="{% url 'appsrvdets' %}">Application Server Details</button>
      </form>
    </li>
    <li>
      <form name="AppServerBillingCompForm" method="POST">
        {% csrf_token %}
          <input type="number" size=4 placeholder="Year1" name="budgetyear1">
          <input type="number" size=4 placeholder="Year2" name="budgetyear2">
          <input type="text" size=20 placeholder="Server Name" name="servername">
          <button type="submit" class="save btn btn-default" formaction="{% url 'appservercomp' %}">Server Cost Comparison</button>
      </form>
    </li>
  </ul>
 </div>
    <div class="col-7 menu"> 
      <ul>
      <li>
         <h3>Billing Report: <strong>{{ wASBscnt }}</strong> servers for Cost Centre: <strong> {{ costcentre }} </strong>  </h3> 
      </li>  
    </ul>        
  </div>
</div>
</div>

{% endblock %}